*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: #F5F8FF;
}
header {
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    margin: auto;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 30px 10px;
    margin: auto;
    
}
nav h1{
    display: inline-block;
    font-weight: 900;
    font-size: 2em;
      letter-spacing: 0%;
      color: #4A4AFF; 
      font-family: Arial, sans-serif;

}
nav button{
    background-color: #4A4AFF;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
}
.heding{
    text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 158px;
}
.heding h1{
    font-family: "Raleway", sans-serif;
    font-size: 3em;
    color: #2C2C2C;
    text-align: center;
}
.heding button{
    background-color: #4A4AFF;
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 10px;
}
.Action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    
}
.Action .coment{
    padding: 20px;
}
.Action .coment h1{
        font-weight: 900;
        letter-spacing: 0%;
        font-family: Arial, sans-serif;
      margin-bottom: 20px;
}
.Action .coment p{
    font-family: Arial, sans-serif;
    color: #555265;
}
.Action .img img{
    border-radius: 50px;
    padding: 20px;
    
}
.Action .coment button{
    background-color: #4A4AFF;
    margin-top: 20px;
    padding: 9px 16px;
    border-radius: 10px;
    border: none;
    color: white;
}
.Productive{
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}
.main{
    width: 80%;
    align-items: center;
    text-align: center;
    background-color: #E6E6FF;
    border-radius: 10px;
    margin: auto;
}
.main h1{
        font-weight: 900;
        letter-spacing: 0%;
        font-family: Arial, sans-serif;
        color: #4A4AFF; 
        font-size: 2em;
}
.main h2{
        font-weight: 900;
      letter-spacing: 0%;
      font-family: Arial, sans-serif;
      padding-top: 30px;
}
.main p{
    font-family: Arial, sans-serif;
    color: #555265;
}
.main .Child{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding-bottom: 20px;
}
.form{
    margin: auto;
    width: 100%;
    background-color: #F5F8FF;
    height: 400px;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.form .form1{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
     align-items: center; 
     gap: 60px;
}
.form .form1 h1{
    font-size: 4em;
    font-family: Arial, sans-serif;

}
.form div label{
    display: block;
    line-height: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-weight: bold;
    font-size: 18px;
}
.form div input{
    border: 1px solid #e0e4fb; 
  border-radius: 8px;   
  padding: 10px;
  font-size: 14px;
  width: 300px;
  height: 40px;
  background-color: #ffffff; 
  color: #333;
  outline: none;
}
.form div textarea{
    border: 1px solid #e0e4fb; 
  border-radius: 8px;   
  padding: 10px;
  font-size: 14px;
  width: 300px;
  height: 80px;
  background-color: #ffffff; 
  color: #333;
  outline: none;
  resize: none;   
}
    

.form div button{
    background-color: #4A4AFF;
    padding: 9px 16px;
    border-radius: 10px;
    width: 100%;
    border: none;
    color: white;
}

